<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>購物車</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
 <link rel="stylesheet" href="/css/cart.css"> <!-- 引入外部 CSS -->
 
</head>
<style>
#total-money{
	color:red;
}</style>
<body>
<div class="top-bar">
    <div class="logo-box">
      <a href="/index.html"> <img src="/bg/bg001.png" alt="Logo"> </a>
      <span>myMall</span>
    </div>
    <div class="nav-links">
      <a href="/memberLogin" id="loginLink">登入</a>
      <span id="welcomeUser" style="margin-left: 20px;"></span>
      <a href="#" id="logoutLink" style="display: none;">登出</a>
      <a href="/api/products/shop">商品購物</a>
      <a href="/api/orders">我的訂單</a>
    </div>
  </div>

<div class="container">

<h2>購物車</h2>

<table>
  <thead>
    <tr>
      <th>商品訊息</th>
      <th>尺寸</th>
      <th>售價</th>
      <th>數量</th>
      <th>合計</th>
      <th>操作訂單</th>
    </tr>
  </thead>
  <tbody id="cart-body">
    <!-- 商品列表将在这里渲染 -->
</tbody>
 
</table>

<div class="total" id="total-amount">
  總金額：<span id="total-money">NT$0</span>
</div>

<form id="addToCartForm">
    <button type="submit" class="btn">結帳</button>
</form>

</div>
</body>
<script src="/js/cart.js"></script>

</html>
