<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>登入會員</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/memberlogin.css"> <!-- 引入外部 CSS -->
</head>

<body>

  <a href="index.html"> <img src="/bg/bg001.png" style="height: 60px; margin-left: 180px;"></a>

  <div class="container">
    <div class="login-box">
      <h2>登入</h2>
      <form id="loginForm">
        <label for="loginusername">帳號 ※</label> 
        <input type="text" id="loginusername" name="loginusername" required> 
        <label for="loginpassword">密碼 ※</label> 
        <input type="password" id="loginpassword" name="loginpassword" required>

        <div class="checkbox-container">
          <input type="checkbox" id="showPassword"> <label for="showPassword">顯示輸入密碼</label>
        </div>

        <button type="submit" class="btn">登入</button>
      </form>
    </div>

    <div class="register-box">
    <form id="loginadd">
      <h2>加入myMall會員</h2>
      <p>要訂購商品，或是要使用商品評論時，請先註冊會員。</p>
      <button type="submit" class="btn">新用戶註冊</button>
      </form>
    </div>  
  </div>
  <script src="/js/memberlogin.js"></script>  <!-- 引入外部 JS 文件 -->
</body>

</html>
