<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>註冊會員</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/memberadd.css"> <!-- 引入外部 CSS -->
</head>
<body>
    <a href="index.html"> <img src="/bg/bg001.png" style="height: 60px; margin-left: 180px;"></a>
    
    <div class="container">
        <div class="login-box">
            <h2>註冊</h2>
            <form id="addm">
                <label for="loginusername">帳號 ※</label> 
                <input type="text" id="loginusername" name="loginusername" required><br>
                <label for="loginpassword">密碼 ※</label> 
                <input type="text" id="loginpassword" name="loginpassword" required><br>
                <label for="name">姓名 ※</label> 
                <input type="text" id="name" name="name" required><br>
                <label for="phone">手機 ※</label> 
                <input type="text" id="phone" name="phone" required><br>
                <button id="msg" type="submit" class="btn">註冊</button>
            </form>
        </div>
    </div>
    
    <script src="/js/memberadd.js"></script> <!-- 引入外部 JS -->
</body>
</html>
