<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>商品詳情</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/product.css">
<!-- 引用外部CSS -->
<script src="/js/product.js"></script>
<!-- 引用外部JS -->
</head>
<body>
	<div class="top-bar">
		<div class="logo-box">
			<a href="/index.html"><img src="/bg/bg001.png" alt="Logo"></a>
			<span>myMall</span>
		</div>
		<div class="nav-links">
			<a href="/memberLogin" id="loginLink">登入</a> <span id="welcomeUser"
				style="margin-left: 20px;"></span> <a href="#" id="logoutLink"
				style="display: none;">登出</a>
				<a href="/api/products/shop">商品購物</a> 
				<a href="/api/cartPage">購物車</a>
		</div>
	</div>

	<div class="product-container">
		<img id="product-image" src="" alt="商品圖片">
		<div class="details">
			<h1 id="product-name">載入中...</h1>
			<p class="price" id="product-price"></p>
			<!--p class="size" id="product-size"></p-->
			<label for="size">尺寸：</label>
			<div class="size-container">
				<select id="size" class="size-control" style="width: 120px;" >
					<!--option value="S">S</option>
					<option value="M">M</option>
					<option value="L">L</option  -->
				</select>
			</div>

			<label for="quantity">數量：</label>
			<div class="quantity-container">
				<select id="quantity" class="form-control" style="width: 120px;"></select>
			</div>
		</div>
	</div>

	<form id="addToCartForm">
		<button type="submit" class="btn">加入購物車</button>
	</form>

</body>
</html>
