<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>購物頁面</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/shop.css">
</head>
<body>
	<div class="top-bar">
		<div class="logo-box">
			<a href="/index.html"> <img src="/bg/bg001.png" alt="Logo">
			</a> <span>myMall</span>
		</div>
		<div class="nav-links">
			<a href="/memberLogin" id="loginLink">登入</a> <span id="welcomeUser"
				style="margin-left: 20px;"></span> <a href="#" id="logoutLink"
				style="display: none;">登出</a> <a href="/api/cartPage">購物車</a>
		</div>
	</div>
	<div class="container">
		<div class="row" id="card-row">
		</div>
	</div>
</body>
<script src="/js/shop.js"></script>

</html>